<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charity: Give for Good.</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p "
        crossorigin="anonymous "></script>
    <!-- external CSS -->
    <link rel="stylesheet" href="./css/styles.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4598e0f6c3.js" crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comforter&family=Oswald&family=Titillium+Web:wght@200&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container-fluid img" id="#home">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid ">
                <button class="navbar-toggler " type="button " data-bs-toggle="collapse "
                    data-bs-target="#navbarTogglerDemo01 " aria-controls="navbarTogglerDemo01 " aria-expanded="false "
                    aria-label="Toggle navigation ">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse"
                    style="background-color:rgba(49, 48, 46, 0.452); padding: 0px 20px; " id="navbarTogglerDemo01 ">
                    <a class="navbar-brand" style="color: #ffffff; font-size: 3rem; font-family: 'Oswald', sans-serif; "
                        href="# ">Charity</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item ">
                            <a class="nav-link active "
                                style="color: #e2dbdb; padding-left: 100px; padding-right: 20px " aria-current="page "
                                href="# ">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="color: #e2dbdb; padding-left: 20px; padding-right: 20px"
                                href="#vision ">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="color: #e2dbdb; padding-left: 20px; padding-right: 20px; "
                                href="#about ">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="color: #e2dbdb; padding-left: 20px; padding-right: 20px; "
                                href="#contact ">Contact Us</a>
                        </li>
                    </ul>


                </div>
            </div>

        </nav>

        <div style="padding: 50px 140px;">
            <h1
                style="font-family: comforter, cursive; color: #ffffff; font-size: 7rem; font-weight: 400; padding-bottom: 20px;">
                Help them grow</h1>

            <a href="https://rzp.io/l/1p7B9wVWP"><button type="button " class="btn btn-lg ">Donate Now</button></a>

        </div>
    </div>

    <section id="vision">
        <div class="container-fluid">
            <h1 style="font-family: Titillium Web, sans-serif; font-size: 3.5rem;">HELP US HELP THOSE IN NEED</h1>


            <div class="row" style="padding: 30px 0px;">
                <div class="col-md-4 box">
                    <span>
                        <i class="fas fa-people-arrows fa-4x"></i>
                    </span>
                    <h3>Reach Them</h3>
                    <p>Reach out to the underpriveleged children to extend a helping hand.</p>
                </div>

                <div class="col-md-4 box">
                    <i class="fas fa-hands-helping fa-4x"></i>
                    <h3>Save</h3>
                    <p>We hope that we can be the safe house for the poor.</p>
                </div>

                <div class="col-md-4 box">
                    <i class=" fas fa-heartbeat fa-4x"></i>
                    <h3>Care & provide</h3>
                    <p>Every child deserves to be loved and be educated and we aim to achieve this.</p>
                </div>

            </div>
        </div>
    </section>

    <section id="about">
        <div class="about">
            <div class="jumbotron">

                <div class="container">
                    <div class="heading text-center">
                        <h1 style="font-family: Titillium Web, sans-serif; font-weight: bolder;">About
                            <span>Us</span>
                        </h1>
                        <p>We must give more in order to get more. It is the generous giving
                            <br> of ourselves that produces the generous harvest.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="images\happy-african-children.jpg" alt="about" class="img-fluid" width="100%">
                        </div>
                        <div class="col-lg-6">
                            <h3 style="font-family: Titillium Web, sans-serif; font-weight: bolder;">Donate to NGO for
                                Elderly Care, Child Education, Orphanage, Women’s Welfare</h3>
                            <p>Our NGO is a 501(c)3 non-profit corporation. Monetary gifts are tax deductible and are
                                often matched with other gifts from around the world to complete projects. We are
                                managed by a board of directors with diverse backgrounds
                                from all over the United States. Our president and founder, Ray West, spent much of his
                                naval career as an aide and liason working in Moldova and is uniquely qualified to carry
                                out projects on the ground there. Ray spends
                                2-3 months every year in Moldova ensuring that these projects continue to move along
                                according to plan. Board chairman Albert Gooch normally travels to Moldova twice each
                                year visiting our projects.</p>

                        </div>
                    </div>
                </div>
            </div>

    </section>

    <section id="contact">
        <div class="container-fluid">
            <div class="row">
                <h3 style="padding-bottom: 60px;">Contact_Us </h3>
                <p> <i class="fas fa-envelope fa-lg icon"></i><i class="fab fa-twitter fa-lg icon"></i><i
                        class="fab fa-facebook fa-lg icon"></i><i class="fab fa-instagram-square fa-lg "></i></p>
                <p>© Copyright charity</p>
            </div>
        </div>

    </section>



</body>

</html>